In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
from datetime import datetime, timedelta, date
from dateutil import relativedelta as rd

In [15]:
# Upload DB
orders = pd.read_csv("orders_20190822.csv",sep=";",decimal=",",parse_dates=["o_date"])

In [16]:
list(orders.columns)

['id_o', 'user_id', 'price', 'o_date']

In [17]:
# Rename columns
orders['o_date'] = pd.to_datetime(orders.o_date)
orders = orders.rename(columns={'id_o': 'id', 'user_id': 'user', 'o_date': 'dateOr'})
list(orders.columns)

['id', 'user', 'price', 'dateOr']

In [18]:
# We translate into date format and delete fake orders
orders = orders[~(orders['price']<=99) & ~(orders['price']>=300000)]

In [19]:
price_date = orders[["dateOr","price"]]
price_date.head()

      dateOr   price
0 2016-01-01   539.0
1 2016-01-01   153.3
3 2016-01-01   752.5
4 2016-01-01  4410.0
5 2016-01-01   595.0

In [26]:
clients = orders.groupby(['id'], as_index=False)
clients = clients.agg({'dateOr' : 'min' })
clients = clients.rename(columns={'dateOr': 'dateCl'})
clients.columns = ['id', 'dateCl']

In [27]:
clients.head()

        id     dateCl
0  1234491 2016-01-01
1  1234494 2016-01-01
2  1234498 2016-01-01
3  1234500 2016-01-01
4  1234503 2016-01-01

In [34]:
Mix =orders.merge(clients, how='left', on=['id'])