In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
from datetime import datetime, timedelta, date
from dateutil import relativedelta as rd

1. Залить в свою БД данные по продажам (часть таблицы Orders в csv, исходник здесь
https://drive.google.com/drive/folders/1C3HqIJcABblKM2tz8vPGiXTFT7MisrML?usp=sharing )

In [77]:
orders = pd.read_csv("orders_20190822.csv",sep=";",decimal=",",parse_dates=["o_date"])

Считаем кол-во строк

In [102]:
orders = orders.rename(columns={'id_o': 'id', 'user_id': 'user', 'o_date': 'date'})
list(orders.columns)

['id', 'user', 'price', 'date']

In [103]:
# Переводим в фортмат даты и удаяем фейковые заказы
orders['date'] = pd.to_datetime(orders.date)
orders = orders[~(orders['price']<=0)]

In [104]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2002760 entries, 0 to 2002803
Data columns (total 4 columns):
id       int64
user     int64
price    float64
date     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 76.4 MB

In [153]:
orders.head()

        id     user   price       date
0  1234491   337544   539.0 2016-01-01
1  1234494   171642   153.3 2016-01-01
2  1234497   260596    55.3 2016-01-01
3  1234498  1105609   752.5 2016-01-01
4  1234500   982696  4410.0 2016-01-01

2. Проанализировать, какой период данных выгружен

In [107]:
orders.min()

id                   1234491
user                       0
price                    0.7
date     2016-01-01 00:00:00
dtype: object

In [109]:
orders.max()

id                   6945534
user                 5919156
price                 819097
date     2017-12-31 00:00:00
dtype: object

3. Посчитать кол-во строк, кол-во заказов и кол-во уникальных пользователей, кот
совершали заказы.

In [110]:
# Проверяем уникальность заказав
len(orders) == len(orders['id'].unique())

True

In [111]:
orders["id"].unique().size

2002760

In [112]:
orders["user"].unique().size

1015115

Делим на разные года

In [113]:
first_year = orders.loc[orders["date"]>="2016-01-01"].loc[orders["date"]<="2016-12-31"]
second_year = orders.loc[orders["date"]>="2017-01-01"].loc[orders["date"]<="2017-12-31"]

5. Найти кол-во пользователей, кот покупали в одном году и перестали покупать в следующем

In [114]:
users_fe = first_year["user"].unique()

In [115]:
users_se = second_year["user"].unique()

In [116]:
users_fe_not_se =np.setdiff1d(users_fe,users_se)
users_fe_not_se.size

360223

4. По годам посчитать средний чек, среднее кол-во заказов на пользователя, сделать вывод , как изменялись это показатели Год от года.

In [117]:
first_year.loc[first_year["price"]>0,"price"].mean()

2095.683552218306

In [118]:
second_year.loc[second_year["price"]>0,"price"].mean()

2398.399389197708

In [119]:
(first_year["user"].size)/first_year["user"].unique().size

1.9351254802399516

In [120]:
(second_year["user"].size)/second_year["user"].unique().size

1.7429667792552055

6. Найти ID самого активного по кол-ву покупок пользователя.