In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
from datetime import datetime, timedelta, date
from dateutil import relativedelta as rd

In [2]:
# Upload DB
orders = pd.read_csv("orders_20190822.csv",sep=";",decimal=",",parse_dates=["o_date"])

In [3]:
list(orders.columns)

['id_o', 'user_id', 'price', 'o_date']

In [4]:
# Rename columns
orders['o_date'] = pd.to_datetime(orders.o_date)
orders = orders.rename(columns={'id_o': 'id', 'user_id': 'user', 'o_date': 'date'})
list(orders.columns)

['id', 'user', 'price', 'date']

In [5]:
# We translate into date format and delete fake orders
orders = orders[~(orders['price']<=99) & ~(orders['price']>=300000)]

In [6]:
price_date = orders[["date","price"]]
price_date.head()

        date   price
0 2016-01-01   539.0
1 2016-01-01   153.3
3 2016-01-01   752.5
4 2016-01-01  4410.0
5 2016-01-01   595.0

In [9]:
# Upload second DB
basket = pd.read_csv("basket16-17.csv")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 10, saw 5

In [10]:
list(basket)

NameError: name 'basket' is not defined

In [7]:
# New classes
period_pred = (datetime(2017, 12, 1), datetime(2017, 12, 31)) #Период для пtimedeltaltaltaltaа
days_lost = timedelta(180) # Количеств дней для того, чтобы считить пользователя потерянным 
CC_pred = 0 # Планируемы оборот
order_price_mean = orders['price'].mean()

In [8]:
FACT = orders[orders['date'].between(*period_pred)]['price'].sum()
FACT

322926463.3