Ребята в тексте ссылка на статью по прогонозу с учетом сезонности и тренда. ( https://4analytics.ru/prognozirovanie/kak-rasschitat-prognoz-prodaj-s-uchetom-rosta-i-sezonnosti-v-excel.html ).

Ваша задача прочитать статью и потом на основе данных к прошлому ДЗ сделать прогноз ТО на 2018 по этой методологии. И сравнить с фактом:
ГГММ Сумма
1801 256798898
1802 232640416
1803 267994924
1804 262849522
1805 276933049
1806 251486085
1807 250559778
1808 261724749
1809 276675505
1810 287647539
1811 363102609
1812 422386052

Как результат ТЗ можете прислать скрин рассчета и сравнения.

ПС: я сейчас подготвавливаю источникик данных для вашего тестового хранилища, что бы потом вы могли сделать отчетность по департаментам (как проговаривали на занятии). Это ДЗ то же важное, мы этот подход использовали на практике.

In [3]:
import itertools
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
import pandas as pd
import sklearn.linear_model as lm
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt
from pylab import rcParams

matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [10]:
# Upload DB
orders = pd.read_csv("orders_20190822.csv",sep=";",decimal=",",parse_dates=["o_date"])

In [11]:
list(orders.columns)

['id_o', 'user_id', 'price', 'o_date']

In [12]:
# Rename columns
orders = orders.rename(columns={'id_o': 'id', 'user_id': 'user', 'o_date': 'date'})
list(orders.columns)

['id', 'user', 'price', 'date']

In [13]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002804 entries, 0 to 2002803
Data columns (total 4 columns):
id       int64
user     int64
price    float64
date     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 61.1 MB

In [14]:
orders["date"].max()

Timestamp('2017-12-31 00:00:00')

In [15]:
orders["date"].min()

Timestamp('2016-01-01 00:00:00')

In [16]:
orders[['user', 'price']].describe()

               user         price
count  2.002804e+06  2.002804e+06
mean   2.381755e+06  2.268164e+03
std    1.633211e+06  3.359283e+03
min    0.000000e+00 -1.848000e+02
25%    1.108048e+06  7.672000e+02
50%    2.028087e+06  1.441300e+03
75%    3.679133e+06  2.552900e+03
max    5.919156e+06  8.190966e+05

In [19]:
orders["price"].max()

819096.6

In [20]:
orders["price"].min()

-184.8

In [26]:
# We translate into date format and delete fake orders
orders['date'] = pd.to_datetime(orders.date)
orders = orders[~(orders['price']<=99) & ~(orders['price']>=300000)]

In [27]:
orders["price"].max()

296153.2

In [28]:
orders["price"].min()

99.4

In [29]:
price_date = orders[["price","date"]]
price_date.head()

    price       date
0   539.0 2016-01-01
1   153.3 2016-01-01
3   752.5 2016-01-01
4  4410.0 2016-01-01
5   595.0 2016-01-01

In [30]:
price_date= price_date.set_index('date')
price_date.head()

             price
date
2016-01-01   539.0
2016-01-01   153.3
2016-01-01   752.5
2016-01-01  4410.0
2016-01-01   595.0

In [31]:
y = price_date['price'].resample('MS').sum().astype(dtype="int64")
y.head()

date
2016-01-01    112464297
2016-02-01    100611274
2016-03-01    125348334
2016-04-01    135296874
2016-05-01    129996680
Freq: MS, Name: price, dtype: int64

In [32]:
# https://pythonworld.ru/moduli/modul-itertools.html
p = d = q = range(0, 2)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in list(itertools.product(p, d, q))]

In [37]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(y,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)

            results = mod.fit()

            print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue

ARIMA(0, 0, 0)x(0, 0, 0, 12)12 - AIC:946.611122844572
ARIMA(0, 0, 0)x(0, 1, 0, 12)12 - AIC:436.3871593311892
ARIMA(0, 0, 0)x(1, 0, 0, 12)12 - AIC:444.3563499085916
ARIMA(0, 0, 1)x(0, 0, 0, 12)12 - AIC:893.530145141938
ARIMA(0, 0, 1)x(0, 1, 0, 12)12 - AIC:389.45933673262584
ARIMA(0, 0, 1)x(1, 0, 0, 12)12 - AIC:487.96201969938954
ARIMA(0, 1, 0)x(0, 0, 0, 12)12 - AIC:811.6644990086102
ARIMA(0, 1, 0)x(0, 1, 0, 12)12 - AIC:369.80197916765104
ARIMA(0, 1, 0)x(1, 0, 0, 12)12 - AIC:402.9120122404615
ARIMA(0, 1, 1)x(0, 0, 0, 12)12 - AIC:776.0861596947892
ARIMA(0, 1, 1)x(0, 1, 0, 12)12 - AIC:331.90307664550056
ARIMA(0, 1, 1)x(1, 0, 0, 12)12 - AIC:406.43416935967497
ARIMA(1, 0, 0)x(0, 0, 0, 12)12 - AIC:845.8855644043712
ARIMA(1, 0, 0)x(0, 1, 0, 12)12 - AIC:402.96477252645377
ARIMA(1, 0, 0)x(1, 0, 0, 12)12 - AIC:404.3303607967777
ARIMA(1, 0, 1)x(0, 0, 0, 12)12 - AIC:811.6579485271625
ARIMA(1, 0, 1)x(0, 1, 0, 12)12 - AIC:367.83554725506525
ARIMA(1, 0, 1)x(1, 0, 0, 12)12 - AIC:406.43631188553206
ARIMA(1, 1, 0)x(0, 0, 0, 12)12 - AIC:812.8854330934936
ARIMA(1, 1, 0)x(0, 1, 0, 12)12 - AIC:365.2032266614623
ARIMA(1, 1, 0)x(1, 0, 0, 12)12 - AIC:368.8857268667349
ARIMA(1, 1, 1)x(0, 0, 0, 12)12 - AIC:777.712370076996
ARIMA(1, 1, 1)x(0, 1, 0, 12)12 - AIC:335.2932887275773
ARIMA(1, 1, 1)x(1, 0, 0, 12)12 - AIC:371.26632580259366

In [38]:
mod = sm.tsa.statespace.SARIMAX(y,
                                order=(0, 1, 1),
                                seasonal_order=(0, 1, 0, 12),
                                enforce_stationarity=False,
                                enforce_invertibility=False)

results = mod.fit()

print(results.summary().tables[1])

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ma.L1         -0.3226      0.154     -2.099      0.036      -0.624      -0.021
sigma2      1.984e+14   1.24e-16    1.6e+30      0.000    1.98e+14    1.98e+14
==============================================================================

In [40]:
pred_uc = results.get_forecast(steps=12)
forecast_result = pred_uc.predicted_mean.astype(dtype="int64")
forecast_result.index

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [41]:
# Check list (data from the HW)
true_sales = pd.Series([256798898, 232640416, 267994924, 262849522, 276933049,251486085,250559778,261724749,276675505,287647539,363102609,422386052], index =['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01'])
true_sales

2018-01-01    256798898
2018-02-01    232640416
2018-03-01    267994924
2018-04-01    262849522
2018-05-01    276933049
2018-06-01    251486085
2018-07-01    250559778
2018-08-01    261724749
2018-09-01    276675505
2018-10-01    287647539
2018-11-01    363102609
2018-12-01    422386052
dtype: int64

In [42]:
forecast_comparison = pd.concat([forecast_result, true_sales], axis=1)
forecast_comparison=forecast_comparison.rename(columns={0: "Forecast", 1: "Fact"})
forecast_comparison

             Forecast       Fact
2018-01-01  288379401  256798898
2018-02-01  263634607  232640416
2018-03-01  299309031  267994924
2018-04-01  287009391  262849522
2018-05-01  321579770  276933049
2018-06-01  298696692  251486085
2018-07-01  303135085  250559778
2018-08-01  307713520  261724749
2018-09-01  309357669  276675505
2018-10-01  353123925  287647539
2018-11-01  396911287  363102609
2018-12-01  415273730  422386052