In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
from datetime import datetime, timedelta, date
from dateutil import relativedelta as rd

In [ ]:
# Upload DB
orders = pd.read_csv("orders_20190822.csv",sep=";",decimal=",",parse_dates=["o_date"])

In [ ]:
list(orders.columns)

In [ ]:
# Rename columns
orders['dateOr'] = pd.to_datetime(orders.date)
orders = orders.rename(columns={'id_o': 'id', 'user_id': 'user'})
list(orders.columns)

In [ ]:
# We translate into date format and delete fake orders
orders = orders[~(orders['price']<=99) & ~(orders['price']>=300000)]

In [ ]:
price_date = orders[["date","price"]]
price_date.head()

In [ ]:
clients = orders.groupby(['id'], as_index=False)['date'].idxmin()
clients.head()

In [64]:
clients = orders.groupby(['id'], as_index=False)
clients = clients.agg({'date' : 'min' })
clients = clients.rename(columns={'date': 'dateCl'})
Clients.columns = ['id', 'dateCl']

In [65]:
clients.head()

        id     dateCl
0  1234491 2016-01-01
1  1234494 2016-01-01
2  1234498 2016-01-01
3  1234500 2016-01-01
4  1234503 2016-01-01

In [102]:
orders = orders.rename(columns={'dateOr': 'date'})

In [79]:
mix = orders.merge(clients, left_on='id', right_on='id')

In [85]:
mix.head(800000)

             id     user    price     dateOr     dateCl
0       1234491   337544    539.0 2016-01-01 2016-01-01
1       1234494   171642    153.3 2016-01-01 2016-01-01
2       1234498  1105609    752.5 2016-01-01 2016-01-01
3       1234500   982696   4410.0 2016-01-01 2016-01-01
4       1234503  1105614    595.0 2016-01-01 2016-01-01
5       1234506  1105617    826.0 2016-01-01 2016-01-01
6       1234507   907785   2459.1 2016-01-01 2016-01-01
7       1234510   527939    595.0 2016-01-01 2016-01-01
8       1234513  1105621   1512.0 2016-01-01 2016-01-01
9       1234516    90267   1784.3 2016-01-01 2016-01-01
10      1234519   256756    378.0 2016-01-01 2016-01-01
11      1234522   887535    595.0 2016-01-01 2016-01-01
12      1234527    84041   1986.6 2016-01-01 2016-01-01
13      1234530   898776    364.0 2016-01-01 2016-01-01
14      1234532   808965   2240.0 2016-01-01 2016-01-01
15      1234534  1105624  13230.0 2016-01-01 2016-01-01
16      1234537   150945    244.3 2016-01-01 2016-01-01
17      1234539  1105629    595.0 2016-01-01 2016-01-01
18      1234542  1105629    909.3 2016-01-01 2016-01-01
19      1234545   320702   2629.2 2016-01-01 2016-01-01
20      1234548   832686    277.2 2016-01-01 2016-01-01
21      1234551   832686    526.4 2016-01-01 2016-01-01
22      1234552   205689    342.3 2016-01-01 2016-01-01
23      1234555   435965   2100.7 2016-01-01 2016-01-01
24      1234557   801573   1049.3 2016-01-01 2016-01-01
25      1234560   655478   1316.0 2016-01-01 2016-01-01
26      1234563   548704    772.8 2016-01-01 2016-01-01
27      1234566  1104877   2427.6 2016-01-01 2016-01-01
28      1234569   502843   2270.8 2016-01-01 2016-01-01
29      1234572   212335    147.0 2016-01-01 2016-01-01
...         ...      ...      ...        ...        ...
799970  3371787  2692011    566.3 2016-12-17 2016-12-17
799971  3371791   518586   4329.5 2016-12-17 2016-12-17
799972  3371793  2131499    839.3 2016-12-17 2016-12-17
799973  3371796  2692002    940.8 2016-12-17 2016-12-17
799974  3371802  2692038   1652.0 2016-12-17 2016-12-17
799975  3371804  1299687   1470.0 2016-12-17 2016-12-17
799976  3371806  2692048   3528.0 2016-12-17 2016-12-17
799977  3371811   441230    518.0 2016-12-17 2016-12-17
799978  3371814  1567707    441.7 2016-12-17 2016-12-17
799979  3371819  2692055   2520.0 2016-12-17 2016-12-17
799980  3371825  2644139    712.6 2016-12-17 2016-12-17
799981  3371829  2692065    866.6 2016-12-17 2016-12-17
799982  3371831  2691899   2769.9 2016-12-17 2016-12-17
799983  3371837  2692079    873.6 2016-12-17 2016-12-17
799984  3371840  2080256   1457.4 2016-12-17 2016-12-17
799985  3371844  2692020   1836.8 2016-12-17 2016-12-17
799986  3371848  2692084    573.3 2016-12-17 2016-12-17
799987  3371852   287574   4076.8 2016-12-17 2016-12-17
799988  3371856  1901393   2950.5 2016-12-17 2016-12-17
799989  3371857  2113878   1014.3 2016-12-17 2016-12-17
799990  3371859  2692083    346.5 2016-12-17 2016-12-17
799991  3371864  2692100    517.3 2016-12-17 2016-12-17
799992  3371865  2692095    559.3 2016-12-17 2016-12-17
799993  3371868  1185246   1437.1 2016-12-17 2016-12-17
799994  3371872  2691748  10639.3 2016-12-17 2016-12-17
799995  3371874  2692104   1533.0 2016-12-17 2016-12-17
799996  3371876  2494595   3655.4 2016-12-17 2016-12-17
799997  3371879  2692115   2417.1 2016-12-17 2016-12-17
799998  3371880  2692080   3112.9 2016-12-17 2016-12-17
799999  3371883  2692029    981.4 2016-12-17 2016-12-17

[800000 rows x 5 columns]