In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

**Логистическая регрессия** 

Логистическая регрессия используется для задач классификации, 

при этом вычисляется вероятность принадлежности 

события к определенному классу.

Задача алгоритма логистической регрессии - найти 

подходящие коэффициенты w при признаках x:

### $z = w_0 + w_1 * x_1 + w_2 * x_2 + ... + w_m * x_m$

Величина z помещается в сигмоидную функцию для вычисления вероятности:

## $f(x) = \frac{1}{1 + e^{-z}}$

Значение f(x) будет расположено на отрезке [0, 1].

f(x) - вероятность отнесения события к классу 1,

1 - f(x) - вероятность отнесения события к классу 0.

#### Log loss

Алгоритм логистической регрессии минимизирует величину logloss:
    
$ logloss = - y*ln(p) - (1 - y) * ln(1 - p) $

где y - истинное значение (0 или 1),

p - вычисленная алгоритмом вероятность того, что событие принадлежит классу 1

#### Titanic

Для изучения классификации мы будем использовать 

датасет с информацией о пассажирах **Titanic** с сайта Kaggle.com

Ссылка: https://www.kaggle.com/c/titanic/data

Нам понадобится файл под названием train.csv, который мы поместим в папку input:

In [2]:
data = pd.read_csv('input/train.csv')

In [3]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Установим в качестве индекса PassengerId - так нам будет проще отслеживать, с информацией о  каком пассажире мы работаем

In [4]:
data = data.set_index('PassengerId')

In [5]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Наша задача - определить, выжил ли человек при крушении Титаника. 

В поле Survived выжившие пассажиры обозначены единицей, а утонувшие - нулём.

In [7]:
target = 'Survived'

In [8]:
y = data[target]

In [9]:
X = data.drop(target, axis=1)

#### Изучение качества данных и их очистка

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

В поле Cabin слишком много пропущенных значений,

в этом уроке мы не будем его использовать.

Столбцы Name и Ticket также в этот раз не рассматриваем. 

Удалим эти поля:

In [11]:
X = X.drop(['Cabin', 'Name', 'Ticket'], axis=1)

В поле возраст 20% значений не заполнено. Заменим пропущенные значения на значения среднего возраста.

In [12]:
mean_age = X['Age'].mean()
mean_age

29.69911764705882

In [13]:
X['Age'] = X['Age'].fillna(mean_age)

In [14]:
X['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

В поле Embarked, которое является текстовым, не хватает двух значений,

заполним пропущенные значения наиболее часто встречающимся значением (мода)

In [15]:
X['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [16]:
embarked_mode = X['Embarked'].mode()[0]
embarked_mode

'S'

In [17]:
X['Embarked'] = X['Embarked'].fillna(embarked_mode)

In [18]:
X['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

#### Работа с категориальными признаками

Признак пола пассажира (Sex) - категориальная переменная. Так как в ней два класса, 

то мы можем представить одной колонкой со

значениями 0 и 1:

In [20]:
X['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [21]:
X['Sex'] = (X['Sex'] == 'female').astype(int)

In [22]:
X['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

Еще одна категориальная переменная - Embarked.

Преобразуем её значения в dummy-переменные.

Теперь каждому её значению будет отведен отдельный столбец,

в котором возможны два числа:
    
    1 (переменная равна данному значению),
                                      
    0 (переменная не равна данному значению)

In [23]:
X = pd.get_dummies(X)

Переменная Embarked преобразовалась в дамми-переменные Embarked_C, Embarked_Q, Embarked_S:

In [24]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 9 columns):
Pclass        891 non-null int64
Sex           891 non-null int32
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: float64(2), int32(1), int64(3), uint8(3)
memory usage: 47.9 KB

In [26]:
X.head(10)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,0,22.000000,1,0,7.2500,0,0,1
2,1,1,38.000000,1,0,71.2833,1,0,0
3,3,1,26.000000,0,0,7.9250,0,0,1
4,1,1,35.000000,1,0,53.1000,0,0,1
5,3,0,35.000000,0,0,8.0500,0,0,1
6,3,0,29.699118,0,0,8.4583,0,1,0
7,1,0,54.000000,0,0,51.8625,0,0,1
8,3,0,2.000000,3,1,21.0750,0,0,1
9,3,1,27.000000,0,2,11.1333,0,0,1
10,2,1,14.000000,1,0,30.0708,1,0,0

Переменную Pclass можно отправить в модель в таком виде, 

какая она есть сейчас, так как она представлена числами,

но так как это все-таки не количественная переменная 

(например, нельзя сказать, что между классами 1 и 2 такая же "разность",
                                                    
как и между классами 2 и 3), то ее так же переведем в дамми-переменные.

Для этого поменяем ее тип данных на category

и применим еще раз применим функцию get_dummies

ко всему датафрейму.

Эта функция переведет в дамми-переменные все нечисловые признаки.

In [27]:
X['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [28]:
X['Pclass'] = X['Pclass'].astype('category')

In [29]:
X = pd.get_dummies(X)

In [30]:
X.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

#### Цель разбиения данных на тренировочный, валидационный и тестовый датасеты

В этот раз мы будем более работать с разделением данных для модели более тщательно,

мы разобьем данные из файла train.csv на две части:

тренировочный набор данных (признаки в X_train, целевая переменная в y_train)

и валидационный (соответственно X_valid и y_valid).

На тренировочном датасете мы будем строить модель, а на валидационном - проверять её качество.

После проверки на валидационном сете можно будет окончательно проверить модель на тестовом сете 

(содержится в файле test.csv по вышеуказанной ссылке - 

фактическое значение целевой переменной в тестовом наборе отсутствует,

рекомендуем самостоятельно проверить точность данных при отправке решения на странице соревнования).

In [31]:
# Параметр test_size будет определять, какую долю данных 
# из train.csv мы берем для валидационного датасета
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=42)

#### Построение модели

В начале работы над любой задачей рекомендуется сначала сделать простую модель, 

не затрачивая большого количества времени. 

Затем можно будет оценивать новые модели, сравнивая их качество 

с качеством первоначальной (базовой) модели.

Сначала посмотрим на информацию о признаках:

In [32]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 299 to 103
Data columns (total 11 columns):
Sex           668 non-null int32
Age           668 non-null float64
SibSp         668 non-null int64
Parch         668 non-null int64
Fare          668 non-null float64
Embarked_C    668 non-null uint8
Embarked_Q    668 non-null uint8
Embarked_S    668 non-null uint8
Pclass_1      668 non-null uint8
Pclass_2      668 non-null uint8
Pclass_3      668 non-null uint8
dtypes: float64(2), int32(1), int64(2), uint8(6)
memory usage: 32.6 KB

Все признаки - числовые, поэтому мы можем построить модель, используя все признаки.

In [33]:
lr = LogisticRegression()

In [34]:
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
y_pred = lr.predict(X_valid)

In [36]:
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)

Метрика Accuracy (доля правильных ответов)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy_score(y_valid, y_pred)

0.8026905829596412

Можно сравнить с Accuracy на тренировочном датасете

In [39]:
y_pred_train = lr.predict(X_train)

In [40]:
accuracy_score(y_train, y_pred_train)

0.8083832335329342

#### Вычисление вероятности событий

In [41]:
y_proba = lr.predict_proba(X_valid)

In [42]:
# Вероятности событий 0 и 1 для каждого пассажира
y_proba

array([[0.88825086, 0.11174914],
       [0.73066428, 0.26933572],
       [0.87036676, 0.12963324],
       [0.08974893, 0.91025107],
       [0.25113482, 0.74886518],
       [0.07820791, 0.92179209],
       [0.33314914, 0.66685086],
       [0.90541514, 0.09458486],
       [0.24423873, 0.75576127],
       [0.10298449, 0.89701551],
       [0.69421831, 0.30578169],
       [0.93503631, 0.06496369],
       [0.62521544, 0.37478456],
       [0.84802204, 0.15197796],
       [0.75860017, 0.24139983],
       [0.07875429, 0.92124571],
       [0.72740906, 0.27259094],
       [0.33306494, 0.66693506],
       [0.70241806, 0.29758194],
       [0.7064301 , 0.2935699 ],
       [0.88406868, 0.11593132],
       [0.64257008, 0.35742992],
       [0.39867144, 0.60132856],
       [0.86966316, 0.13033684],
       [0.89854394, 0.10145606],
       [0.9281918 , 0.0718082 ],
       [0.56595276, 0.43404724],
       [0.72830321, 0.27169679],
       [0.91438978, 0.08561022],
       [0.42690766, 0.57309234],
       [0.86675274, 0.13324726],
       [0.35889542, 0.64110458],
       [0.48090248, 0.51909752],
       [0.4171732 , 0.5828268 ],
       [0.86295005, 0.13704995],
       [0.86462291, 0.13537709],
       [0.58732439, 0.41267561],
       [0.33314914, 0.66685086],
       [0.06804495, 0.93195505],
       [0.90138924, 0.09861076],
       [0.71271476, 0.28728524],
       [0.92126387, 0.07873613],
       [0.90132362, 0.09867638],
       [0.86469252, 0.13530748],
       [0.4376935 , 0.5623065 ],
       [0.91098073, 0.08901927],
       [0.86660758, 0.13339242],
       [0.8801    , 0.1199    ],
       [0.88448291, 0.11551709],
       [0.66857075, 0.33142925],
       [0.26593687, 0.73406313],
       [0.21273193, 0.78726807],
       [0.96290733, 0.03709267],
       [0.4866169 , 0.5133831 ],
       [0.95153886, 0.04846114],
       [0.07931434, 0.92068566],
       [0.73687583, 0.26312417],
       [0.05311735, 0.94688265],
       [0.18635585, 0.81364415],
       [0.26215381, 0.73784619],
       [0.87399149, 0.12600851],
       [0.11613926, 0.88386074],
       [0.18918267, 0.81081733],
       [0.61129732, 0.38870268],
       [0.86469252, 0.13530748],
       [0.32649971, 0.67350029],
       [0.5935126 , 0.4064874 ],
       [0.89940455, 0.10059545],
       [0.8465194 , 0.1534806 ],
       [0.13253537, 0.86746463],
       [0.20065671, 0.79934329],
       [0.03548675, 0.96451325],
       [0.45246365, 0.54753635],
       [0.10167249, 0.89832751],
       [0.88079057, 0.11920943],
       [0.933487  , 0.066513  ],
       [0.33883061, 0.66116939],
       [0.06377008, 0.93622992],
       [0.20747976, 0.79252024],
       [0.55917528, 0.44082472],
       [0.9438496 , 0.0561504 ],
       [0.16597853, 0.83402147],
       [0.08373139, 0.91626861],
       [0.86469952, 0.13530048],
       [0.68132891, 0.31867109],
       [0.75893314, 0.24106686],
       [0.06215072, 0.93784928],
       [0.06058499, 0.93941501],
       [0.69863231, 0.30136769],
       [0.90166362, 0.09833638],
       [0.85415739, 0.14584261],
       [0.55664063, 0.44335937],
       [0.80494016, 0.19505984],
       [0.86470417, 0.13529583],
       [0.90138924, 0.09861076],
       [0.89650008, 0.10349992],
       [0.76403975, 0.23596025],
       [0.93694131, 0.06305869],
       [0.19721696, 0.80278304],
       [0.89349326, 0.10650674],
       [0.82391578, 0.17608422],
       [0.91567651, 0.08432349],
       [0.04790818, 0.95209182],
       [0.92278164, 0.07721836],
       [0.90356555, 0.09643445],
       [0.9112475 , 0.0887525 ],
       [0.2690907 , 0.7309093 ],
       [0.71964835, 0.28035165],
       [0.9015571 , 0.0984429 ],
       [0.56209364, 0.43790636],
       [0.12392518, 0.87607482],
       [0.87250985, 0.12749015],
       [0.06662585, 0.93337415],
       [0.65732333, 0.34267667],
       [0.38117416, 0.61882584],
       [0.86932602, 0.13067398],
       [0.7716955 , 0.2283045 ],
       [0.65458504, 0.34541496],
       [0.17891082, 0.82108918],
       [0.68877564, 0.31122436],
       [0.80308005, 0.19691995],
       [0.05895141, 0.94104859],
       [0.26481148, 0.73518852],
       [0.55566206, 0.44433794],
       [0.88759682, 0.11240318],
       [0.52796355, 0.47203645],
       [0.18507663, 0.81492337],
       [0.37994471, 0.62005529],
       [0.35234113, 0.64765887],
       [0.87384648, 0.12615352],
       [0.33301179, 0.66698821],
       [0.88825086, 0.11174914],
       [0.7324095 , 0.2675905 ],
       [0.2417078 , 0.7582922 ],
       [0.66302419, 0.33697581],
       [0.25423608, 0.74576392],
       [0.04702112, 0.95297888],
       [0.89944784, 0.10055216],
       [0.93121817, 0.06878183],
       [0.37979905, 0.62020095],
       [0.87364411, 0.12635589],
       [0.2795765 , 0.7204235 ],
       [0.70902161, 0.29097839],
       [0.79893506, 0.20106494],
       [0.54565422, 0.45434578],
       [0.23886358, 0.76113642],
       [0.72196564, 0.27803436],
       [0.89196023, 0.10803977],
       [0.05144127, 0.94855873],
       [0.93307787, 0.06692213],
       [0.84585897, 0.15414103],
       [0.88426474, 0.11573526],
       [0.86309387, 0.13690613],
       [0.3757998 , 0.6242002 ],
       [0.90132362, 0.09867638],
       [0.90174846, 0.09825154],
       [0.8786985 , 0.1213015 ],
       [0.33310927, 0.66689073],
       [0.23130688, 0.76869312],
       [0.43631703, 0.56368297],
       [0.81942618, 0.18057382],
       [0.61058634, 0.38941366],
       [0.77563606, 0.22436394],
       [0.06871927, 0.93128073],
       [0.86429542, 0.13570458],
       [0.7375123 , 0.2624877 ],
       [0.67778524, 0.32221476],
       [0.12399664, 0.87600336],
       [0.87738978, 0.12261022],
       [0.91570422, 0.08429578],
       [0.42335063, 0.57664937],
       [0.15411541, 0.84588459],
       [0.65721552, 0.34278448],
       [0.2434253 , 0.7565747 ],
       [0.85968069, 0.14031931],
       [0.84678487, 0.15321513],
       [0.68226088, 0.31773912],
       [0.11962611, 0.88037389],
       [0.31140116, 0.68859884],
       [0.71968104, 0.28031896],
       [0.6751667 , 0.3248333 ],
       [0.9076925 , 0.0923075 ],
       [0.9137559 , 0.0862441 ],
       [0.53298838, 0.46701162],
       [0.23891872, 0.76108128],
       [0.7183544 , 0.2816456 ],
       [0.6480935 , 0.3519065 ],
       [0.90138924, 0.09861076],
       [0.60035484, 0.39964516],
       [0.22917197, 0.77082803],
       [0.93918075, 0.06081925],
       [0.74136903, 0.25863097],
       [0.88874934, 0.11125066],
       [0.89869872, 0.10130128],
       [0.29232984, 0.70767016],
       [0.1224877 , 0.8775123 ],
       [0.03545886, 0.96454114],
       [0.74676345, 0.25323655],
       [0.08443895, 0.91556105],
       [0.57227398, 0.42772602],
       [0.96143181, 0.03856819],
       [0.41820523, 0.58179477],
       [0.10756377, 0.89243623],
       [0.67145175, 0.32854825],
       [0.8023698 , 0.1976302 ],
       [0.3456622 , 0.6543378 ],
       [0.89870599, 0.10129401],
       [0.67730245, 0.32269755],
       [0.84223944, 0.15776056],
       [0.94570735, 0.05429265],
       [0.31992838, 0.68007162],
       [0.90250868, 0.09749132],
       [0.08383803, 0.91616197],
       [0.86470652, 0.13529348],
       [0.62521544, 0.37478456],
       [0.90032039, 0.09967961],
       [0.19261046, 0.80738954],
       [0.64354396, 0.35645604],
       [0.15722224, 0.84277776],
       [0.90166362, 0.09833638],
       [0.90138924, 0.09861076],
       [0.14364317, 0.85635683],
       [0.8987656 , 0.1012344 ]])

Нас интересует вероятность события 1 (правый столбец) - 

при получении ответа значения из него округляются до 0 или до 1

#### Сохранение данных

Сохраним обработанные данные, они пригодятся для следующих уроков

In [43]:
X_train.to_pickle('X_train.pkl')
y_train.to_pickle('y_train.pkl')

X_valid.to_pickle('X_valid.pkl')
y_valid.to_pickle('y_valid.pkl')